/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Interstate;
    font-weight: 100;
    src: url("./assets/interstate.ttf");
  }
}
